
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

db.sqlite3
*.sqlite3
manage.py
*.xml

.idea/workspace.xml